{% extends 'base.html' %}
{% block title %}
    很抱歉，没有相关内容
{% endblock %}
{% block bigcontain %}
    <section class="container">
    <div class="panel">
        <div class="text-center">
            <h2>
                <stong>很抱歉，没有相关内容 o(╥﹏╥)o</stong>
            </h2>
            <div class="padding-big"><a href="{% url 'index' %}" class="btn btn-primary">返回首页</a>
                <div class="widget widget_search">
                <form class="navbar-form" action="{% url 'search' %}">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字"
                               maxlength="15" autocomplete="off">
                        <span class="input-group-btn">
		<button class="btn btn-default btn-search" type="submit">搜索</button>
		</span></div>
                </form>
            </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block mycss %}
    <style type="text/css">
        .panel {
            padding: 80px 20px 0px;
            min-height: 400px;
            cursor: default;
        }

        .text-center {
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            max-width: 900px;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
        }

        .float-left {
            float: left !important;
        }

        .float-right {
            float: right !important;
        }

        img {
            border: 0;
            vertical-align: bottom;
        }

        h2 {
            padding-top: 20px;
            font-size: 20px;
        }

        .padding-big {
            padding: 20px;
        }

        .alert {
            border-radius: 5px;
            padding: 15px;
            border: solid 1px #ddd;
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}
