{% extends 'base.html' %}
{% block title %}{{ art_obj.title }}_Debug5{% endblock %}
{% block mydes %}<meta name="description" content={{ art_obj.desc }}>{% endblock %}
{% block content %}
    <div class="content">
        <header class="article-header">
            <h1 class="article-title"><a href="#" title="{{ art_obj.title }}">{{ art_obj.title }}</a></h1>
            <div class="article-meta"> <span class="item article-meta-time">
	  <time class="time" data-toggle="tooltip" data-placement="bottom" title=""
            data-original-title="发表时间：{{ art_obj.add_time }}"><i
              class="glyphicon glyphicon-time"></i> {{ art_obj.add_time }}</time>
	  </span>
                <span
                        class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="{{ art_obj.category.name }}"><i class="glyphicon glyphicon-list"></i> <a
                        href="{% url 'list' art_obj.category.path_name %}"
                        title="{{ art_obj.category.name }}">{{ art_obj.category.name }}</a></span>
                <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title=""
                      data-original-title="浏览量"><i
                        class="glyphicon glyphicon-eye-open"></i> {{ art_obj.click_num }}</span> <span
                        class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="评论量"><i
                        class="glyphicon glyphicon-comment"></i> {{ art_obj.cont_num }}</span></div>
        </header>
        <article class="article-content">
            <p><img data-original="images/201610181557196870.jpg" src="/static/images/201610181557196870.jpg" alt=""/>
            </p>
            <p>
                {{ art_obj.content|safe }}
            <pre class="prettyprint lang-cs"></pre>
            <script>                  window._bd_share_config = {
                "common": {
                    "bdSnsKey": {},
                    "bdText": "",
                    "bdMini": "2",
                    "bdMiniList": false,
                    "bdPic": "",
                    "bdStyle": "1",
                    "bdSize": "32"
                }, "share": {}
            };
            with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=0.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            <p style="white-space: normal;"><img src="http://img.baidu.com/hi/jx2/j_0002.gif"/></p>
            <p>本博客源码Github地址：</p>
            <p><a href="https://github.com/whisnos/myblog" target="_blank" title="请随手给个star，谢谢"
                  textvalue="https://github.com/whisnos/myblog">https://github.com/whisnos/myblog</a></p>
            <p>请随手给个star，谢谢！</p>
            </p>
        </article>

        <div class="article-shang">
            <p><a href="javascript:void(0)" rel="nofollow" style="color: #fff" onclick="dashangToggle()"
                  class="dashang" title="如文章有帮助到你，支持一下" draggable="false">打赏</a>
            </p>
        </div>
        <div class="hide_box" style="display: none;">
        </div>
        <div class="shang_box" style="display: none;">
            <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭" draggable="false">
                <img src="/static/images/close.jpg" alt="取消" draggable="false"></a>
            <img class="shang_logo" src="/static/images/logo.png"
                 alt="D5网" draggable="false">
            <div class="shang_tit">
                <p>
                    感谢您的支持，我会继续努力的!</p>
            </div>
            <div class="shang_payimg">
                <img src="/static/images/wxpay.png" alt="扫码支持" title="微信扫一扫"
                     draggable="false">
            </div>
            <div class="pay_explain">
                扫码打赏，您说多少就多少
            </div>
            <div class="shang_payselect">
                <img src="/static/images/wechat.jpg" alt="微信"
                     draggable="false">
            </div>
            <div class="shang_info">
                <p>
                    打开<span id="shang_pay_txt">微信</span>扫一扫，即可进行扫码打赏哦
                </p>
                <p>
                    分享从这里开始，精彩与您同在
                </p>
            </div>
        </div>

        <a href="javascript:;" οnclick="repeat()"></a>
        <div id="postcomments" class="addcomment">
            <ol id="comment_list" class="commentlist">
                {% for com in user_comment_list %}
                    <li class="comment-content"><span class="comment-f">#{{ forloop.counter }}楼</span>
                        <div class="comment-main"><p><a class="address" href="#" rel="nofollow"
                                                        target="_blank">{{ com.comment_man.nick_name }}</a><span
                                class="time">({{ com.add_time }})</span><br>{{ com.content }}</p></div>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="title" id="comment">
            <h3>评论</h3>
        </div>
        <div id="respond">
            <div class="comment">
                <div class="comment-box">
                        <textarea placeholder="您的评论或留言（必填）" name="comment_textarea" id="comment-textarea" cols="100%"
                                  rows="3" tabindex="3"></textarea>
                    <div class="comment-ctrl">
                        <div class="comment-prompt" style="display: none;"><i
                                class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text">评论正在提交中...请稍后</span>
                        </div>
                        <div class="comment-success" style="display: none;"><i class="fa fa-check"></i> <span
                                class="comment-prompt-text">评论提交成功...</span></div>
                        <button type="submit" name="comment-submit" id="comment-submit" tabindex="4">评论</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block Tag %}
    <div class="widget widget_sentence">
        <h3>标签云</h3>
        <div class="widget-sentence-content">
            <ul class="plinks ptags">
                {#                直接 管道符 进行切片 和 倒序#}
                {% for tag in all_tags %}
                    <li><a href="{% url 'list' tag.category.path_name %}?tag={{ tag.id }}" title="{{ tag.name }}"
                           draggable="false">{{ tag.name }} <span
                            class="badge">{{ tag.articleinfo_set.count }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block ArtName %}
    <h3>最新发表文章</h3>
{% endblock %}
{% block TongJi %}
{% endblock %}
{% block js %}

    <script>
        $(function replyBox(box) {
            $('#comment-submit').click(function () {
                var nick_name = $('#nick_name').val();
                var content = $('#comment-textarea').val();
                var div = document.createElement('div');
                div.className = 'addcomment';
                $.ajax({
                    type: 'POST',
                    url: '{% url 'user_comment' art_obj.id %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        nick_name: nick_name,
                        content: content,
                    },
                    success: function (cb) {
                        if (cb.status == 'ok') {
                            window.location.reload();
                        } else {
                            alert(cb.msg)
                        }
                    }

                })
            })

        });

    </script>
{% endblock %}