<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
		<meta charset="utf-8">
		<link href="{% static 'css/reglogin.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>注册一个用户!</h1>
		</div>
		<p></p>
			<form action="{% url 'user_register' %}" method="post">
                {% csrf_token %}
				<ul class="left-form">
					<h2>注册:</h2>
					<li>
						<input type="text" placeholder="请输入您的邮箱" name="email"/>
						<div class="clear"></div>
					</li>
					<li>
						<input type="password" placeholder="请输入密码" name="password"/>
{#						<a href="#" class="icon into"> </a>#}
						<div class="clear"> </div>
					</li>
					<li>
						<input type="text" placeholder="请输入您的昵称" name="nick_name"/>
{#						<a href="#" class="icon into"></a>#}
						<div class="clear"> </div>
					</li>
					<input type="submit" value="注册">
					<div class="clear"></div>
				</ul>
				<div class="clear"></div>

			</form>
        {{ msg }}
        {% for key,err in register_form.errors.items %}
        {{ err }}
        {% endfor %}
	</div>
</body>
</html>