<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/reglogin.css' %}" rel='stylesheet' type='text/css'/>
{#    <link href="{% static 'css/login_f.css' %}" rel='stylesheet' type='text/css'/>#}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="main">
    <div class="header">
        <h1>登录!</h1>
    </div>
    <p></p>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <ul class="left-form">
                <h2>登录:</h2>
                <li>
                    <input type="text" placeholder="请输入您的邮箱" name="email"/>
{#                    <a href="#" class="icon ticker"> </a>#}
                    <div class="clear"></div>
                </li>
                <li>
                    <input type="password" placeholder="请输入密码" name="password"/>
{#                    <a href="#" class="icon into"> </a>#}
                    <div class="clear"></div>
                </li>
                <input type="submit" value="登录">
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>

        </form>

{#    <form action="{% url 'user_login' %}" method="post" autocomplete="off">#}
{#        {% csrf_token %}#}
{#        <div class="form-group marb20 blur">#}
{#            <label>用&nbsp;户&nbsp;名</label>#}
{#            <input name="email" id="account_l" type="text" placeholder="手机号/邮箱">#}
{#        </div>#}
{#        <div class="form-group marb8 blur">#}
{#            <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>#}
{#            <input name="password" id="password_l" type="password" placeholder="请输入您的密码">#}
{#        </div>#}
{#        <div class="auto-box marb38">#}
{#            <a class="fr" href="http://127.0.0.1:8002/user/forgetpwd/">忘记密码？</a>#}
{#        </div>#}
{#        <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即登录 &gt; ">#}
{#    </form>#}
    {{ msg }}
    {% for key,err in loginform.errors.items %}
        {{ err }}
    {% endfor %}
</div>
</body>
</html>